<!DOCTYPE html>
<html lang="en" ng-app="bookApp">
<head>

  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>

    <!-- ngRoute -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>

    <!-- custom script (angular app) -->
    <script type="text/javascript" src="./scripts/app.js"></script>
    <!-- <script type="text/javascript" src="controllers/BooksIndexController.js"></script>
    <script type="text/javascript" src="controllers/BooksShowController.js"></script> -->

    <title>Angular Routing Lab</title>


</head>
<body>
  <h1>Books App </h1>
  <div ng-controller="booksIndexController as bookIndexCtrl">
<p><b>bookIndexCtrl.newBook:</b> {{bookIndexCtrl.newBook}}</p>
<input type="text" class="form-control" placeholder="New Book Title" ng-model="bookIndexCtrl.newbook.title">
<input type="text" class="form-control" placeholder="New Book Author" ng-model="bookIndexCtrl.newbook.author">
<!-- <input type="text" class="form-control" placeholder="New Book Image" ng-model="bookIndexCtrl.newbook.image"> -->
<input type="text" class="form-control" placeholder="New Book releaseDate" ng-model="bookIndexCtrl.newbook.releaseDate">

  </div>
  <div ng-repeat="book in bookIndexCtrl.book">
  {{book}}
</div>
</body>
</html>
