<!DOCTYPE html>
<html lang="en" ng-app="bookApp">
<head>
  <!-- STYLESHEETS -->
   <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/styles/styles.css">

 <!-- VENDOR SCRIPTS -->
   <script src="/vendor/angular/angular.min.js"></script>
   <script src="/node_modules/angular/angular.js"></script>

 <!-- APPLICATION SCRIPTS -->
   <script src="/scripts/app.js"></script>
</head>
<body>
  <h1>Books App </h1>
  <div ng-controller="booksIndexController as bookIndexCtrl">
<p><b>bookIndexCtrl.newBook:</b> {{bookIndexCtrl.newBook}}</p>
<input type="text" class="form-control" placeholder="New Book Title" ng-model="bookIndexCtrl.newbook.title">
<input type="text" class="form-control" placeholder="New Book Author" ng-model="bookIndexCtrl.newbook.author">
<!-- <input type="text" class="form-control" placeholder="New Book Image" ng-model="bookIndexCtrl.newbook.image"> -->
<input type="text" class="form-control" placeholder="New Book releaseDate" ng-model="bookIndexCtrl.newbook.releaseDate">

  </div>
  <div ng-repeat="book in bookIndexCtrl.book">
  {{book}}
</div>
</body>
</html>
